
  /* color - 글자색 */
  p:nth-child(1) { color : rgb(97, 137, 235);}
  p:nth-child(2) { color : rgb(235, 236, 183);}
  div {width: 200px; height: 50px; background-color: skyblue;
      text-align: center; line-height: 50px; cursor:pointer; /* cursor pointer : 손가락모양 출력 */
  }
  div:hover{background-color:palegoldenrod;}